@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&display=swap');
*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3rem;
    padding-left: auto ;
    font-family: 'Signika Negative', sans-serif;    
    }


/*-----------------------estilado para la Navbar ----------------------------------*/
.navigation-bar{
    background-color: #393053;
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    overflow: hidden;
}

.navigation-bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    margin-right: auto;     
}

.navigation-bar .logo p{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.navigation-bar ul {
    list-style: none;
    margin: auto 5rem;
    padding-left: 3rem;
}

.navigation-bar li {
    display: inline;
    margin-left: 0.2rem;
    padding: 0.3rem;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    padding: auto;
    position: relative;
}

.navigation-bar a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #5b1296;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
}

.navigation-bar a:hover {
    color:  rgba(128, 128, 128, 0.726);
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-weight:bolder;    
}

.navigation-bar a:hover::after{
    width: 100%;
    right: 0;
}

.navigation-bar button {
    color: white;
    border: 3px solid #5b1296;
    background-color: #393053;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 0.7rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 0;    
}

.navigation-bar button::before {
    content: "";
    height: 100%;
    background-color: #5b1296;
    width: 0;
    bottom: 0;
    right: 50%;
    position: absolute;
    transition: all 0.4s ;
    z-index: -1;
    will-change: width;   
}

.navigation-bar button:hover::before {
    content: "";
    width: 100%;
    right: 0; 
}

/* ----------------estilado para el banner inicial -------------------------*/
.container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #443C68;
}
.banner{
    display:flex;
    align-content:center;
    flex-wrap:wrap;
    background-color: #443C68;
    width: 70%;
    height:700px; 
   
}

.banner  #first-words, #resumen, h1, span{
    width: 100%;
    height:min-content;
    margin-top:auto;
    margin-bottom: auto;
    color: white;
 }

.banner p{
    font-size: 2rem;
    height: auto;
}
.banner h1{
    font-size: 4.5rem;
    font-weight: bold;
}
.banner span{
    font-size: 3.5rem;
}

.banner #resumen{
    display: flex;
    height:min-content;
    font-size: 1.2rem;
    margin-top: auto;
    width: 100%;
}

.banner button{
    color: white;
    border: 1px solid #5b1296;
    background-color: #393053;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 0.7rem;
    margin-top: 1rem;
    margin-bottom: auto;
    height: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 0;       
}

.banner button::after{
   content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;    
    position: absolute;
    transition: all 0.4s ;
    z-index: -1;
    border-radius: 5px;      
}

.banner button:hover::after{
   content: "";
    width: 100%;
    right: 0;
    background-color: #8561a3be;
}
/*--------------------Styling the personal information zone (Abount Me are)------------------*/


.aboutMe-workSpace{
height: auto;
background-color: #362f58;
}

.abount-me{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: auto;        
}

.abount-me h2  {
    margin-top: 5%;
    width: 100%;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem ;

}
.abount-meInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: min-content;    
    padding: 3rem;
     
}
.abount-text {
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: #362f58;
    height: min-content;
    width: 50%;
    padding: 1.5rem;   
}
.abount-text p {
    color: white;   
}

.img-picture{
    display: flex;    
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 5%;   
    
}

.img-picture img{    
    width: 280px;
    height: 300px;  
    z-index: 5;  
    position: relative;
    border-radius: 5px;
}

.img-picture::after{    
    content: "";  
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 300px;
    width: 280px;        
    border:5px solid #503f8a; 
    background-color: #503f8a;
    border-radius: 10px;
    position: absolute; 
    transition: all 0.3s;     
  }

  .img-picture:hover::after{    
    margin-left: 0.1rem;
    margin-top: 0.2rem;
    background-color: #6b4b96;
    border:5px solid #6b4b96;
  }
  .img-picture::before{    
    content: ""; 
    position: absolute; 
    width: 280px;
    height: 300px;
    z-index: 6;     
  }

  .img-picture:hover::before{    
   z-index: 4;     
  }

    .container-estudios{
    width: 100%;
  }

.container-studies{
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
    padding: 3rem;    
}

.studies-picture{
   margin: auto;
}

.studies-picture img{ 
    width: 400px;
    height: 240px;   
    border-radius: 10px; 
}

.abount-studies{
    margin: auto;    
    width: 50%;
    background-color: #362f58;
    height: min-content;
    color: white;    
}

.abount-studies h3{
    color: white;
    font-size: 2.5rem;
}

/*-----------------------------------styling of skills----------------*/
.skills-workPlace{
background-color: #443C68;

width: 100%;
height: 700px;

}
.skills-workPlace-tittle{    
    width: 50%;
}

#tittle-skills{
    width: 100%;
    color: white;
    font-size: 3rem;
    font-weight: bold;

}


.skills-grid{
    display: grid;   
    width: auto;
    height: min-content;    
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    
    
    
    
}

.card{    
    color:black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 140px;
    background-color: white;
    
    border-radius: 20px;
}

.card img{
    margin-top: 1rem;
    width: 80px;
    height: 80px;
}

.card p{
    text-align: center;
    width: 100%;
}
/*-------------------------------- styling projects----------------------------*/

.projects-workPlace{
    
    background-color: #362f58;
    /*border: 5px solid rgb(221, 25, 11);*/
    width: 100%;
    height: min-content;
    padding: 5% 0;    

}

.works{
    display: flex;
    flex-wrap: wrap;
    /*border: 5px solid rgb(240, 134, 231);*/
    width: 70%;
    height: 70%;
    flex-direction:initial;
    
}

.works #works-tittle{
   /* border: 5px solid rgb(240, 10, 29);*/
    width: 100%;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    margin: auto;
    padding: auto;
    text-transform: uppercase;
}
 
.works #works-subtitle{
    /*border: 5px solid rgb(240, 10, 29);*/
    width: 100%;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}

.projects-active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /*border: 5px solid rgb(5, 235, 63);*/
}

.card-project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /*border: 1px solid purple;*/
    height: 20rem;
    width: 18rem;
    margin:2rem;    
    transition: all 0.3s ease;
}

.card-project:hover{
   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.747);
    transform: translateY(-4%)
    
}

.card-project p{
    text-align: center;
    font-size: 1rem;
}


/*------------------------------contact area------------------------------------------*/
.contact{
    display: flex;
    flex-wrap: wrap;
    
}
.contact form{
   text-align: center;
    
}
